@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@244&display=swap');

*{
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
}

.navBar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
   
    background: rgb(0, 0, 0);
    list-style: none;
    position: fixed;
}

.test{
    color: white;
    text-decoration: none;  
    font-size: 20px;
}

.name{
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20%;
    box-sizing:border-box;

    
}

.name h1 {
    font-size: 80px;
}

.name p{
     font-size: 20px;
   
}

.e{
    opacity: 0%;
    margin-right: -40px;
}

.ex{
    opacity: 0%;
    font-size: 15px;
    color: rgb(255, 69, 69);
}

.container:hover .ex{
    opacity: 100%;
    transition: all 1.2s;
 }

.container:hover .e {
    opacity: 100%;
    color: black;
    transition: all 1.2s;
}

.container:hover .o {
    opacity: 0%;
    color: black;
    transition: all 1.2s;
}


.prettyPicture{
    height: 100vh;
    background: url("images/pexels-anna-tarazevich-6900713.jpg") center/cover no-repeat fixed;
    background-size: cover;

    justify-content: center;
    text-align: center;
    padding: 20%;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}

.res object{
    padding-top: 2%;
    height: 96vh;
    width: 100%;
}

.navBar li a:hover{
    color: rgb(255, 69, 69);
}


.git:hover
{
    /* filter: drop-shadow(7px 3px 2px #555454);    */
    transform: rotateZ(360deg);
    transition: all 0.5s;
}